 <div class="bg-light" style="  border-radius: 5px; " >
    <div style="padding: 5px;">
         <h5 style="background-color:lightgray;">@locTitle:</h5>        
         <span>@Entry</span>
     </div>
 </div>

@code {

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Entry { get; set; }

    string locTitle = "";
    protected override async Task OnParametersSetAsync()
    {
        locTitle = @Loc[$"{Title}"];
    }
}
