
@page "/Settings"

<h3>@Loc["Settings"]</h3>

<CultureSelector></CultureSelector>


@* Administrator only / testing only *@
<button type="button" @onclick=addalog>add</button>
<input type="text" @bind="@logString"></input>


<button type="button" @onclick=writelogs>Write log to file</button>

<br/>
<div style="border-width: 2px; border-color:black;">
    <label>Todays log:</label>
<ul >
@if(logger.Logs != null)
{
    foreach (var item in logger.Logs)
    {
                <li>@item</li>
            }
        }
        else
        {
            <li>List is empty</li>
        }
    </ul>
</div>

@code {

    private string logString = "";

    private void addalog()
    {
        logger.addLog(logString);        
    }



    private void writelogs()
    {
        logger.writeLogs();
    }
}
